.bg-pinkish{
    background-color: #fceae8;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.carousel, #subscribe{
    border-radius: 10px;
}

.container{
    margin-bottom: 100px;
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

.cat-watch, .cat-bag, .cat-shoes{
    padding: 10px 30px;
    border-radius: 15px;
}

.cat-watch{
    background-color: orange;
}

.cat-bag{
    background-color: orchid;
}

.cat-shoes{
    background-color: blue;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}

.card-footer{
    border-top: none;
    background-color: white;
}

.card-footer:last-child{
    border-radius: 10px;
}

#subscribe{
    height: 300px;
}

footer{
    text-align: center;
}